.App {
  background: linear-gradient(
    180deg,
    rgba(77, 16, 250, 0.7) 10.73%,
    rgba(204, 73, 199, 0.7) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#circle {
  position: absolute;
  top: 45.3%;
  left: 23px;
  width: 33px;
  height: 33px;
  background: #7fee1d;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 60px;
  background: rgba(204, 73, 199, 0.27);
}

.delete-button {
  position: absolute;
  position: static;
  right: 5px;
}

.Icon-add {
  position: absolute;
  width: 32px;
  height: 30px;
  left: 5%;
  top: 90px;
}
.Icon-cancel {
  position: absolute;
  top: 46.8%;
  left: 65px;
  width: 14px;
  height: 14px;
}

.Icon-ok-be {
  position: absolute;
  width: 27px;
  height: 27px;
  right: 7%;
  top: 120px;
}

.Img-add {
  text-align: left;
  width: 30px;
  height: 30px;
}

.Add-user {
  margin: 1em;
}

input[type=text] {
  position: absolute;
  top: 13%;
  left: 17%;
  color: rgb(255, 255, 255);
  background: none;
  font-size: 25px;
}

.Line {
  height: 0;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
}

#oval {
  top: 45%;
  left: 0%;
  position: absolute;
  width: 94px;
  height: 37px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.84) 64.59%, rgba(236, 188, 234, 0.544011) 76.76%, rgba(204, 73, 199, 0.04) 91.03%);
  border-radius: 0 40px 40px 0;  
}

.user-list {
  position: absolute;
  width: 90%;
  top: 18%;
  text-align: left;
  color: white;
}

.Сalendar {
  width: 163px;
  height: 57px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin: 2em;
  white-space: nowrap;
}
.day {
  display: inline-block; 
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #5E05EE;
}
.month {
  display: inline-block;
  margin-left: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.045em;

  color: rgba(255, 255, 255, 0.93);
}
.year {
  display: inline-block;
  margin-left: 2px; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #DD2572;
}



