.App {
  background: linear-gradient(
    180deg,
    rgba(77, 16, 250, 0.7) 10.73%,
    rgba(204, 73, 199, 0.7) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-header {
  color: white;
}

#circle {
  position: absolute;
  top: 45.3%;
  left: 23px;
  width: 33px;
  height: 33px;
  background: #7fee1d;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 60px;
  background: rgba(204, 73, 199, 0.27);
}

.delete-button {
  position: absolute;
  position: static;
  right: 5px;
}

.Icon-add {
  position: absolute;
  width: 32px;
  height: 30px;
  left: 5%;
  top: 90px;
}

.Icon-ok {
  position: absolute;
  top: 46.5%;
  left: 32px;
  width: 17px;
  height: 17px;
}

.Icon-cancel {
  position: absolute;
  top: 46.8%;
  left: 65px;
  width: 14px;
  height: 14px;
}

.Icon-ok-be {
  position: absolute;
  width: 27px;
  height: 27px;
  right: 7%;
  top: 120px;
}

input[type=text] {
  position: absolute;
  top: 13%;
  left: 17%;
  color: rgb(255, 255, 255);
  background: none;
  font-size: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Line {
  background-color: rgb(255, 255, 255); /* Цвет линии */
  color: rgb(255, 255, 255);
  position: fixed;
  width: 90%;
  left: 22px;
}

#oval {
  top: 45%;
  left: 0%;
  position: absolute;
  width: 94px;
  height: 37px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.84) 64.59%, rgba(236, 188, 234, 0.544011) 76.76%, rgba(204, 73, 199, 0.04) 91.03%);
  border-radius: 0 40px 40px 0;  
}

.user-list {
  position: absolute;
  width: 90%;
  top: 18%;
  text-align: left;
  color: white;
}



