.Students {
  position: relative;
  color: white;
  margin: 0;
  padding: 5px;
  left: 41px;
  margin: 0px auto;
}

hr {
  position: absolute;
  margin: 0;
  padding: 0;
  left: -25px;
  width: 327px;
  background-color: #ffffff;
  text-align: center;
  opacity: 0.5;
  border: 1px solid#ffffff;
}

li {
  line-height: 41px;
}
