.Students {
  color: white;
  width: 100%;
}

.one-student {
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  line-height: 41px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.number {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: 30px;
  padding-right: 2px;
}

.name-one-student {
  display: inline;
  vertical-align: middle;
}
.one-student .icon {
  padding: 2px;
  border: 0;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background: rgba(204, 73, 199, 0.5);
  margin: 0 2px;
}
